@use "./mixins" as m;

// footer

.footer-content {
  height: 100%;
  display: flex;
  align-items: center;

  &__link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 2px;
    font-family: var(--ff-2);
    color: white;

    & + & {
      margin-left: 2.625rem;
    }
  }

  &__group {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 3rem;
  }

  &__social {
    a + a {
      margin-left: 1rem;
    }
  }
}

// homepage

.hero,
.about-me,
.contact-me {
  margin-bottom: 9.375rem;
}

.hero {
  position: relative;

  &__about {
    bottom: 0;
    max-width: 445px;
    background-color: white;

    h1 {
      margin: 1.5rem 2rem 2rem 0;
      @include m.h2;

      @media (min-width: 768px) {
        margin: 3.5rem 7.5rem 3rem 0;
      }

      @media (min-width: 1200px) {
        margin: 3.5rem 3rem 3.5rem 0;
        @include m.h1;
      }
    }

    @media (min-width: 768px) {
      position: absolute;
      max-width: 514px;
    }

    @media (min-width: 1200px) {
      max-width: 445px;
    }
  }
}

.about-me {
  display: flex;

  .img {
    flex-basis: 540px;
  }

  &__content {
    // flex-basis: 50%;
    padding-left: 7.8125rem;

    p {
      max-width: 40ch;
    }
  }
}

.contact-me {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h2 {
    max-width: 350px;
  }
}

// buttons

.button {
  display: flex;
  align-items: center;
  position: relative;

  &__primary {
    @extend .button;
    color: white;
    background-color: var(--pc-2);

    &:hover:not(:disabled) {
      background-color: var(--pc-1);
    }

    &:disabled {
      opacity: 0.2;
      cursor: default;
    }
  }

  &__secondary {
    @extend .button;
    color: var(--pc-3);
    font-weight: var(--fw-bold);
    border: 1px solid var(--pc-3);

    &:hover:not(:disabled) {
      color: var(--sc-1);
      background-color: var(--pc-3);
    }

    &:disabled {
      opacity: 0.2;
      cursor: default;
    }
  }

  &__toggle {
    display: inline-block;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.1);
    height: 100%;
    width: 48px;
    height: 48px;

    button.button:hover > & g {
      stroke: white;
    }
  }

  &__text {
    display: inline-block;
    padding: 1rem 2rem;
    font-family: var(--ff-2);
    font-size: 0.75rem;
    line-height: 1.17;
    letter-spacing: 2px;
    text-transform: uppercase;
    height: 100%;
  }

  svg {
    position: absolute;
    left: 16px;
  }
}
