@use "./mixins" as m;

// footer

.footer-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__links {
    display: flex;
    flex-direction: column;
    text-align: center;

    @media (min-width: 992px) {
      flex-direction: row;
    }
  }

  &__link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 2px;
    font-family: var(--ff-2);
    color: white;

    & + & {
      margin-top: 2rem;
    }

    @media (min-width: 992px) {
      flex-direction: row;

      & + & {
        margin-left: 2.625rem;
        margin-top: 0;
      }
    }
  }

  &__group {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.5rem;

    @media (min-width: 992px) {
      flex-direction: row;
      margin-left: 3rem;
      margin-top: 0;
    }
  }

  &__social {
    margin-top: 2.5rem;

    a + a {
      margin-left: 1rem;
    }

    @media (min-width: 992px) {
      margin-top: 0;
    }
  }

  @media (min-width: 992px) {
    flex-direction: row;
  }
}

// homepage

.hero,
.about-me,
.contact-me {
  margin-bottom: 6rem;

  @media (min-width: 1200px) {
    margin-bottom: 9.375rem;
  }
}

.hero,
.about-me {
  a {
    display: inline-flex;
    cursor: pointer;
    text-decoration: none;
  }
}

.hero {
  position: relative;

  &__about {
    bottom: 0;
    max-width: 445px;
    background-color: white;

    h1 {
      margin: 1.5rem 2rem 2rem 0;
      @include m.h2;

      @media (min-width: 768px) {
        margin: 3.5rem 7.5rem 3rem 0;
      }

      @media (min-width: 1200px) {
        margin: 3.5rem 3rem 3.5rem 0;
        @include m.h1;
      }
    }

    @media (min-width: 768px) {
      position: absolute;
      max-width: 514px;
    }

    @media (min-width: 1200px) {
      max-width: 445px;
    }
  }
}

.about-me {
  display: flex;
  flex-direction: column;

  &__content {
    position: relative;
    margin-top: 2.5rem;

    &::after,
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: var(--pc-3);
      opacity: 0.15;
    }

    &::after {
      margin-top: 3.2rem;
    }

    &::before {
      margin-bottom: 3.2rem;
    }

    @media (min-width: 768px) {
      margin-top: 0rem;
      padding-left: 4.3rem;

      &::after,
      &::before {
        margin-top: 0;
        width: 350px;
      }

      &::after {
        bottom: 0;
      }

      &::before {
        top: 0;
      }

      p {
        max-width: 35ch;
      }
    }

    @media (min-width: 1200px) {
      padding-left: 7.8125rem;

      p {
        max-width: 40ch;
      }
    }
  }

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: center;

    .img {
      flex-basis: 281px;
    }
  }

  @media (min-width: 1200px) {
    .img {
      flex-basis: 540px;
    }
  }
}

.contact-me {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    max-width: 311px;
    text-align: center;
    flex-shrink: 0;
  }

  &__button {
    flex-shrink: 0;
  }

  @media (min-width: 768px) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &__divider {
      flex-basis: 534px;
      margin: 0 2rem;
      height: 1px;
      background-color: var(--pc-3);
      opacity: 0.15;
    }

    h2 {
      max-width: 350px;
      text-align: start;
    }
  }
}

// portfolio page

.portfolio-item {
  margin-bottom: 4.5rem;
  display: flex;
  flex-direction: column;

  &--flipped {
    @extend .portfolio-item;
  }

  &:first-of-type {
    margin-top: 3.5rem;
  }

  @media (min-width: 768px) {
    flex-direction: row;

    &--flipped {
      flex-direction: row-reverse;
    }
  }
}

.portfolio-img {
  @media (min-width: 768px) {
    flex-basis: 50%;
    margin-top: 2.5rem;

    img {
      margin: 0 auto;
      max-width: 339px !important;
    }
  }

  @media (min-width: 1200px) {
    margin-top: 0rem;

    img {
      margin: 0 auto;
      max-width: 540px !important;
    }
  }
}

.portfolio-content {
  flex-basis: 50%;
  margin: 2rem 0;
  position: relative;

  a {
    display: inline-block;
    text-decoration: none;
  }

  &::after,
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: var(--pc-3);
    opacity: 0.15;
  }

  &::after {
    margin-top: 1.5rem;
  }

  &::before {
    margin-bottom: 1.5rem;
  }

  @media (min-width: 768px) {
    margin: 0;
    margin-left: 4.3rem;
    max-width: 300px;

    .portfolio-item--flipped & {
      margin-left: 0;
      margin-right: 4.3rem;
    }

    &::after,
    &::before {
      max-width: 300px;
    }

    &::after {
      margin-top: 3.125rem;
    }
  }

  @media (min-width: 1200px) {
    margin-left: 7.8rem;

    .portfolio-item--flipped & {
      margin-left: 0;
      margin-right: 7.8rem;
    }

    &::after,
    &::before {
      margin: 0;
    }

    h1 {
      margin-top: 6rem;
    }

    button,
    a {
      margin-bottom: 6rem;
    }

    p {
      max-width: 35ch;
    }
  }
}

// portfolio details page
.project-grid {
  @media (min-width: 1200px) {
    display: flex;
    margin-top: 7.2rem;

    > * {
      flex-basis: 50%;
    }
  }
}

.description {
  flex-basis: 50%;
  position: relative;
  margin: 0 auto;
  margin-top: 2.5rem;
  padding: 1px;
  max-width: 768px;

  &::after,
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: var(--pc-3);
    opacity: 0.15;
  }

  &::after {
    margin-top: 1.5rem;
  }

  &__title {
    margin-bottom: 1rem;

    @media (min-width: 1200px) {
      margin-top: 3rem;
    }
  }

  &__body {
    margin-bottom: 1.5rem;

    @media (min-width: 768px) {
      position: absolute;
      top: 2rem;
      right: 0;
      max-width: 35ch;
    }

    @media (min-width: 1200px) {
      position: relative;
      top: 0;
      right: 0;
    }
  }

  &__tag {
    margin: 0.5rem 0;
    font-family: var(--ff-2);
    font-weight: bold;
    color: var(--pc-1);
  }

  button {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
  }

  @media (min-width: 1200px) {
    max-width: 350px;
    margin: 0;
  }
}

.overview {
  &__title {
    margin-top: 3rem;
    font-weight: var(--fw-reg);

    @media (min-width: 1200px) {
      margin-top: 0;
    }
  }

  &__image {
    margin: 2rem 0;
  }
}

.project-links {
  display: flex;

  // deal with crowding
  margin: 0 -20px;

  --border: 1px solid var(--pc-3-lighter);

  &__box {
    flex-basis: 50%;
    display: flex;
    flex-direction: column-reverse;
    padding: 1.5rem 0;
    border-top: var(--border);
    border-bottom: var(--border);

    @media (min-width: 768px) {
      align-items: center;
      justify-content: flex-end;
      gap: 1.5rem;
    }

    &:first-of-type {
      border-right: var(--border);

      @media (min-width: 768px) {
        flex-direction: row-reverse;
      }
    }

    &:last-of-type {
      text-align: end;
      align-self: flex-end;

      @media (min-width: 768px) {
        flex-direction: row;
      }
    }
  }

  &__label {
    display: block;
    margin-top: 0.5rem;
    color: var(--pc-3-light);
  }

  &__link {
    margin-bottom: 0.5rem;
  }

  @media (min-width: 1200px) {
    margin-top: 1.5rem;
  }
}

.project-contact {
  margin: 3rem 0 4.5rem 0;

  > * {
    margin: 0;
  }

  @media (min-width: 768px) {
    margin: 5rem 0;
  }
}

// contact page

.contact-form,
.get-in-touch {
  border-top: 1px solid var(--pc-3-lighter);
  padding: 1.5rem 0;

  @media (min-width: 1200px) {
    display: flex;
    justify-content: space-between;

    &__content {
      width: 635px;
      max-width: 100%;
    }
  }
}

.contact-form {
  margin-bottom: 3rem;
  @media (min-width: 768px) {
    margin-bottom: 5rem;
  }
}

.get-in-touch {
  &__heading {
    margin-top: 1rem;
  }

  &__links {
    margin: 0.5rem 0;
  }

  @media (min-width: 768px) {
    margin-top: 5rem;
  }
}

// buttons

.button {
  display: flex;
  align-items: center;
  position: relative;

  &__primary {
    @extend .button;
    color: white;
    background-color: var(--pc-2);

    &:hover:not(:disabled) {
      background-color: var(--pc-1);
    }

    &:disabled {
      opacity: 0.2;
      cursor: default;
    }
  }

  &__secondary {
    @extend .button;
    color: var(--pc-3);
    font-weight: var(--fw-bold);
    border: 1px solid var(--pc-3);
    text-decoration: none;

    &:hover:not(:disabled) {
      color: var(--sc-1);
      background-color: var(--pc-3);
    }

    &:disabled {
      opacity: 0.2;
      cursor: default;
    }
  }

  &__toggle {
    display: inline-block;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.1);
    height: 100%;
    width: 48px;
    height: 48px;

    button.button:hover > & g {
      stroke: white;
    }
  }

  &__text {
    display: inline-block;
    padding: 1rem 2rem;
    font-family: var(--ff-2);
    font-size: 0.75rem;
    line-height: 1.17;
    letter-spacing: 2px;
    text-transform: uppercase;
    height: 100%;
  }

  svg {
    position: absolute;
    left: 16px;
  }
}

// inputs

.form-control {
  padding: 0.5rem 1rem;
  background-color: var(--pc-3-lightest);
  color: var(--pc-3);
  font-size: 0.8125rem;
  font-family: var(--ff-2);
  font-weight: var(--fw-reg);
  line-height: 2.3;

  // Doing custom focus style
  outline: none;
  border: 1px solid transparent;
  border-radius: 0;

  &:focus {
    border: 1px solid var(--pc-1);
  }

  form.submitted &:invalid,
  &.invalid {
    border: 1px solid var(--sc-3);
  }
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.invalid-text {
  display: inline-block;
  margin-top: 0.5rem;
  font-size: 0.8rem;
  // font-style: italic;
  font-weight: var(--fw-bold);
  font-family: var(--ff-2);
  color: var(--sc-3);
}

.btn-link {
  display: inline-block;
  text-decoration: none;
}
