@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@400;700&family=Public+Sans:wght@400;700&display=swap");

:root {
  //fonts

  --ff-1: "Ibarra Real Nova", serif;
  --ff-2: "Public Sans", sans-serif;

  // colors

  --pc-1: hsl(167°, 36%, 54%);
  --pc-2: hsl(205°, 41%, 21%);
  --pc-3: #33323d;

  --sc-1: hsl(0°, 0%, 98%);
  --sc-2: hsl(240°, 2%, 92%);
  --sc-3: hsl(0°, 90%, 57%);
}
