---
import Layout from "../layouts/Layout.astro";
import ContactForm from "../components/ContactForm.svelte";
import SocialLinks from "../components/SocialLinks.svelte";
import { query } from "../lib/sanity";

const q = `
    *[_type == "profile"] {
        getINTouch
    }
`;

const res = await query(q);
const profile = res[0];
---

<Layout>
    <div class="get-in-touch">
        <h1 class="h2 get-in-touch__heading">Get in Touch</h1>
        <div class="get-in-touch__content">
            <p>
                {profile.getINTouch}
            </p>

            <div class="get-in-touch__links">
                <SocialLinks inverted />
            </div>
        </div>
    </div>
    <div class="contact-form">
        <h1 class="h2">Contact Me</h1>

        <div class="contact-form__content">
            <ContactForm client:load />
        </div>
    </div>
</Layout>