---
import Layout from "../layouts/Layout.astro";
import ContactForm from "../components/ContactForm.svelte";
import SocialLinks from "../components/SocialLinks.svelte";
---

<Layout>
    <div class="get-in-touch">
        <h1 class="h2 get-in-touch__heading">Get in Touch</h1>
        <div class="get-in-touch__content">
            <p>
                I’d love to hear about what you’re working on and how I could help. I’m currently
                looking for a new role and am open to a wide range of opportunities. My preference
                would be to find a position in a company in London. But I’m also happy to hear about
                opportunites that don’t fit that description. I’m a hard-working and positive person
                who will always approach each task with a sense of purpose and attention to detail.
                Please do feel free to check out my online profiles below and get in touch using the form.
            </p>

            <div class="get-in-touch__links">
                <SocialLinks inverted />
            </div>
        </div>
    </div>
    <div class="contact-form">
        <h1 class="h2">Contact Me</h1>

        <div class="contact-form__content">
            <ContactForm client:load />
        </div>
    </div>
</Layout>