<div class="contact-me">
    <h2>Get in touch.</h2>
    <span class="contact-me__divider"></span>
    <a class="button__secondary" href="/contact">
        <span class="button__text">Contact Me</span>
    </a>
</div>