<div class="contact-me">
    <h2>Interested in doing a project together?</h2>
    <span class="contact-me__divider"></span>
    <button class="button__secondary contact-me__button">
            <span class="button__text">Contact Me</span>
    </button>
</div>