---
import "../styles/index.scss";
import Header from "../components/Header.svelte";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
        
	</head>
	<body> 
        <Header client:visible />
        <main>
            <slot />
        </main>
        <footer>
        </footer>
	</body>
</html>
